html {
  position: relative;
  min-height: 100%;
}

.divider {
  height: 2px;
  border-top: 3px dashed #cecece;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h3 {
	color: #02b3e4;
	margin-bottom: 20px;
}

.header {
  padding: 10px 0;
  margin-bottom: 40px;
  color: #fff;
  background: #04adf0;
  box-shadow: 0 2px 4px -2px rgba(5, 152, 250, 0.5);
}

.footer {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #04adf0;
  color: #fff;
  box-shadow: 0 2px 4px -2px rgba(1, 158, 248, 0.5);
}

footer a,
footer a:visited,
footer a:hover {
  color: #fff;
}

.ud-math {
  margin: 1.5em auto;
}

.ud-atom {
  margin: 50px 0;
  width: 100%;
}

.ud-atom:first-of-type {
  margin: 0 0 50px 0;
}

.align-items-middle {
  display: flex;
  align-items: center;
}

/* Styling code block
*/

:not(pre) > code {
  color: #fff;
  border-radius: 4px;
  border: 1px solid #737b83;
  padding: 2px 4px;
  background-color: #2f3d48;
}

pre {
  background: #292929;
  color: #fafafa;
  font-size: 16px;
  padding: 0;
  padding: 10px;
  border-radius: 0.3em;
}

/*
  Sidebar menu
*/

#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(5, 152, 250, 0.5);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

.btn-toggle-sidebar {
  background: #1c262f;
  color: #fff;
  margin-right: 10px;
}

.btn-toggle-sidebar div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2e3d49;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2e3d49;
  color: #fff;
}

#sidebar ul.components {
  padding: 20px 0;
  border-top: 1px solid #47748b;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar-list ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 0;
}

ul.CTAs a {
  text-align: center;
  font-size: 1em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 25px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}
body {
  background-color: rgb(252, 248, 248);
  margin: 0;
  height: 3000px;
}

#A13  .chip {
  fill: #fff;
}

#A13  .text-bg {
  fill: #fff;
}

#A13  .chip-mask {
  fill: #000;
}

#chip-section {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  height: 100vh;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#the-chip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 0px 100vw black, 0px 0px 0px 30px black inset;
  z-index: 10;
  min-width: 100px;
  min-height: 100px;
  background-color: #000;
}

#the-chip.transparent {
  background-color: transparent;
}

#A13   {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

h1 {
  top: 0;
  left: 0;
  color: rgb(10, 7, 7);
  z-index: 20;
  font-family: Helvetica;
  font-size: 38px;
  letter-spacing: -1px;
  text-align: center;
  width: 100%;
  top: 50%;
  margin: 0;
}


